   body{background: linear-gradient(
135deg,
 rgb(102, 100, 100)
 
);
color: rgb(38, 59, 59);
}
  h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
font-family: fantasy;
}

a{
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: block;  
    text-decoration: none; 
}

a:hover{
    color: #000;
}

h3{
    font-family: cursive;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.done{
    text-decoration: line-through;
    color: gainsboro;
    opacity: 0.7;
}
