   body{background: linear-gradient(
135deg,
 rgb(102, 100, 100)
 
);
color: rgb(38, 59, 59);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a{
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: block;  
    text-decoration: none; 
}

a:hover{
    color: #000;
    text-decoration: underline;
}


.done{
    text-decoration: line-through;
    color: gainsboro;
    opacity: 0.7;
}
